{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}SocialNetworkLike{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">

        <style media="screen">
            .modal1 {
            /* position: fixed; */
                position: fixed;
                left: 1%;
                top: 1%; 
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.99);
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-primary" href="#">SocialNetworkLike</a>
          
            <div class=""> 
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'profile' request.user.username %}"><strong> | {{ user.username }} | </strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link text-primary" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        

        {% block script %}
        {% endblock %}
    </body>
</html>